/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background: #eee;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.main {
  font-size: 1.1em;
}

.board {
  width: 30em;
  height: 30em;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: .2em;
  padding: .25em;
  background: #333;
  border: .3em solid #333;
  transform: perspective(200em) rotateX(10deg);
}

.cell {
  background: #097f5c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell__input {
  width: 1em;
  height: 1em;
  text-transform: uppercase;
  text-align: center;
}

.cell.cell--letter-double {
  background: hsl(180, 80%, 50%);
}

.cell.cell--letter-triple {
  background: hsl(240, 80%, 50%);
}

.cell.cell--word-double {
  background: hsl(349.5, 70%, 87.6%);
}

.cell.cell--word-triple {
  background: hsl(0, 80%, 50%);
}

/* Vintage color scheme */

.board.board--vintage {
  background: #f5efdf;
  border-color: #f5efdf;
}

.board--vintage > .cell {
  background: #cac3a6;
}

.board--vintage > .cell.cell--letter-double {
  background: #b0cdd9; /* cyan */
}

.board--vintage > .cell.cell--letter-triple {
  background: #338db9; /* blue */
}

.board--vintage > .cell.cell--word-double {
  background: #dba7b3; /* pink */
}

.board--vintage > .cell.cell--word-triple {
  background: #d73b50; /* red */
}



.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  background: #d6b685;
  border-radius: .2em;
  box-sizing: border-box;
  /*box-shadow: .1em .1em .0em #a58f6e;*/
  border-right: .15em solid #a58f6e;
  border-bottom: .15em solid #7b6a52;
}

.info {
  padding: 1em;
}

.rack {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: calc(2em * 7);
  height: 2em;
  margin: 1em auto;
  padding-bottom: .5em;
  border-radius: .2em;
  box-sizing: content-box;
  background-image:
    linear-gradient(to bottom, transparent, transparent 75%, #030 85%, transparent),
    linear-gradient(to right, #030, transparent 1%, transparent 99%, #030);
  background-color: #050;
  border: .5em solid #050;
  box-shadow: .2em .1em .3em #aaa;
  transform: perspective(100em) rotateX(20deg);
}